 /* IE 6-8 fallback colors */
.marker-cluster-small {
    background-color: rgb(255, 180,   0);
}
.marker-cluster-small div {
    background-color: rgb(223,  58, 108);
}

.marker-cluster-medium {
    background-color: rgb(255, 180,   0);
}
.marker-cluster-medium div {
    background-color: rgb(223,  58, 108);
}

.marker-cluster-large {
    background-color: rgb(255, 180,   0);
}
.marker-cluster-large div {
    background-color: rgb(223,  58, 108);
}
